/**
 * Site header
 */
.site-header {
  border-top: 10px solid $grey-color-dark;
  background:linear-gradient(to bottom, transparent, black), url(../img/space.jpeg);
  margin-bottom: 105px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  color: rgb(7, 85, 167);
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0;
  float: left;
  margin-top: 25px;
  text-shadow: 2px 2px white;

  &,
  &:visited {
    color: rgb(7, 85, 167);
  }
}

.site-title:hover{
  text-decoration: none;
  font-size: 50px;
  transition: 2.5s all;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: white;
    font-size: 25px;
    padding: 15px;
    text-shadow: 2px 2px rgb(7, 85, 167);


    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background:linear-gradient(to top, transparent, black), url(../img/space.jpeg);
  height: 350px;
}

.footer-heading {
  display: none;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
  margin-right: 255px;
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 50px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  border: thick double rgb(7, 85, 167);
  display: inline;
  padding: 1px 10px;
  box-shadow: 3px 3px 3px ;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding: 50px;
  display: flex;

  > li {
    margin-bottom: $spacing-unit;
    display: inline-block;
    margin: 10px 40px;
    text-align: center;
  }
}


.post-meta {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
}

.post-link {
  padding: 5px;
  font-size: 25px;
  color: rgb(7, 85, 167);
  background-color: rgba(10, 121, 223, 0.5);
  border: 2px solid #333;
  border-radius: 5px;
}

.post-link:hover {
  text-decoration: none;
  color: #333;
  background-color: rgba(107, 106, 106, 0.94);
  border: 2px solid #076bc7;
  transition: 1.5s all;
}

.presentation h1 {
  margin: 40px;
}

.presentation p {
  margin-top: 35px;
  font-size: 15px;
}

.container {
  margin-top: 155px;
}

.presentation h3 {
  font-size: 30px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  width: 165px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: 4px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
